body{
    background-color: #ffffff;
}
.try{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: center;
}

input{
    height: 2rem;
    font-size: large;
    width: 30%;
}

input[type=submit]{
    background-color: #33808a;
    color: white;
    outline: none;
    border: none;
}

  @media screen and (max-width: 900px) {
    input{
        height: 2rem;
        font-size: large;
        width: 70%;
    }
  }