
.calendar_default_event_inner {
    background: #2e78d6;
    color: #fff;
    border: none;
    font-size: 10pt;
    padding: 5px;
    opacity: 0.8;
}

.calendar_default_main{
    margin-right: 6rem;
    margin-bottom: 3rem;
    margin-top: 3rem;


}

.navigator_default_main{
    margin-top: 3rem;

}